
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #fff;
}

a {
    text-decoration: none;
    color: inherit;
    background-color: lightgray;
    padding: 10px 15px;
}

.active{
    color: #fff;
    background-color: #e8491d;
    padding: 10px 15px;
}
 

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    
}


header {
    background-color: #ebe4e4;
    color: #3c3c3c;
    padding: 20px 0;

}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 1px;
    
}
.logo-text {
    border-right: 2px solid gray;
    display: inline-block;
    padding-right: 20px;
}

.logo span {
    color: #303030;
    font-size: 12px;
    margin-left: 10px;
    letter-spacing: 0;
    
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    margin-left: 2px;
    position: relative;
}



nav a {
    color: #aaa;
    font-size: 14px;
    transition: color 0.3s;
}

nav a:hover {
    color: #fff;
}


.banner {
    background: #f5f5f5 url('images/banner.jpg') no-repeat center center;
    background-size: cover;
    padding: 100px 0;
    text-align: center;
    color: #666;

}




.banner-content {

    padding: 40px;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.8;
}

.image-content{
    height: 30vh;
}


.banner-text{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: #e8491d;
    width: 100vw;
}
.slogal{
    background-color: #e8491d;
    color: #fff;
    padding: 60px 0;
    text-align: center;
}


.features {
    background-color: #363636;
    color: #fff;
    padding: 60px 0;
    text-align: center;
}

.feature-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.feature-box {
    padding: 20px;
}

.feature-icon {
    font-size: 40px;
    margin-bottom: 20px;
    background-color: #e8491d;
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 0;
    margin: 0 auto 20px;
}

.feature-box h3 {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: normal;
    border-bottom: #3c3c3c solid 2px;
    padding-bottom: 1rem;
}

.feature-box p {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    line-height: 1.6;
}


.quote-section {
    background-color: #fafafa;
    padding: 60px 0;
    text-align: center;
    color: #898989;

}

.quote-content {
    max-width: 800px;
    margin: 0 auto;
}

.quote-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #646464;
    font-weight: normal;
}

.quote-section p {
    margin-bottom: 30px;
    color: #aaa;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 1px;
}

.btn {
    display: inline-block;
    background-color: #009a6f;
    color: #fff;
    padding: 12px 30px;
    border-radius: 4px;
    font-size: 14px;
    transition: background-color 0.3s;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #028b64;
}


.services {
    padding: 60px 0;
    background-color: #333;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.service-box {
    padding: 20px;
}

.service-box h3 {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: normal;
    color: #cfcccc;
}

.service-box p {
    color: #666;
    font-size: 14px;
    line-height: 1.6;
}


footer {
    background-color: #009a6f;
    color: #beb8b8;
    padding: 40px 0;
    text-align: center;
    font-size: 14px;
}

footer p {
    margin-top: 10px;
}
