* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, sans-serif;
    line-height: 1.5;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.content-wrapper {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 75%;
}

.title {
    font-weight: bold;
    font-size: 2.25rem;
    text-align: start;
}

.subtitle {
    margin-top: 0.5rem;
}

.grid-layout {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-top: 1.25rem;
}

.button-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-bottom: 0;
}

.custom-button {
    background-color: #4ade80;
    color: white;
    font-weight: 600;
    padding: 0.5rem 1.75rem;
    text-align: center;
    border: none;
    border-radius: 0.25rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    transition: all 0.3s;
    cursor: pointer;
}

.custom-button:hover {
    background-color: #22c55e;
}

.custom-button:active {
    background-color: #16a34a;
}

.text-content h3 {
    margin-bottom: 0.5rem;
}

.highlight {
    background-color: #bbf7d0;
}